<div class="about">
<p>В нашем клубе мы представляем японское боевое искусство КЕНДО.
<p>КЕНДО-путь меча ,искусство фехтования двуручным мечом из бамбука (реальные контактные поединки).<br>
<u>Научиться фехтованию возможно практически в любом возрасте.</u> Доспехи надежно защищают тело спортсмена, травматизм полностью отсутствует. Инструктора постоянно повышают свою квалификацию у японских наставников, как на территории РФ так и в Японии, что подтверждается оригинальным свидетельством.
<br>В Кендо нет разделения на весовые категории. 
<br>Тренировочные группы делятся по уровню подготовки.
<br><p>Возможны индивидуальные занятия с инструктором по договоренности. </p></p></p>

<p><b>Инструктора:</b><br>
- Береснев Дмитрий Сергеевич, 3 дан Кендо, <br>Президент Федерации Кендо Кемеровской области,
<br>Руководитель клуба кендо "КУСАНАГИ"</p>

<p><b>Куратор клуба, сенсей:</b><br>
- Александр Глушко, 5 дан Кендо, 1 дан Дзёдо, 1 дан Айкидо,<br> 
Вице-президент Федерации Кендо Кемеровский области<br>
Тренер национальной сборной Российской Федерации Кендо</p>
<p>Набор в группу идет всегда, независимо от времени года, возраста, пола и вероисповедания.</p>
</div>

